/* medienhaus.css */

@import url("./normalize.css");
@import url("./fonts.css");

:root {
  --color-foreground: rgb(0,0,0);
  --color-background: rgb(255,255,255);
  --color-selection: rgb(255,240,170);
  --color-highlight: rgb(0,128,255);
  --color-medium-contrast: rgb(128,128,128);
  --color-low-contrast: rgb(240,240,240);
  --margin: 1rem;
  --width: 55ch;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

*::selection {
  background-color: var(--color-selection);
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: "Inter", sans-serif;
  /*
  font-size: 16px;
  */
  font-size: calc(1em + 0.4vmin);
  font-style: normal;
  font-weight: 500;
  height: 100%;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  padding: 0 calc(var(--margin) * 1.4);

  /* grid */
  /*
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0 calc(var(--margin) * 2.8);
  */

  /* init */
  opacity: 0;
  animation: init 0.03s ease-in 0.5s 1 forwards;
}

a:link {
  color: var(--color-foreground);
  text-decoration: none;
}

a:visited {
  color: var(--color-foreground);
}

a:hover {
  color: var(--color-foreground);
  text-decoration: underline;
  text-decoration-style: solid !important;
}

a:focus {
  color: var(--color-foreground);
}

a:active {
  color: var(--color-foreground);
}

a.active {
  text-decoration-color: var(--color-highlight) !important;
}

code {
  background-color: var(--color-low-contrast);
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  padding: 0 calc(var(--margin) * 0.2);
}

code, pre, kbd, samp,
code a, pre a, kbd a, samp a {
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  margin: unset;
}

hr {
  border-color: var(--color-foreground);
  border-radius: unset;
  border-style: solid;
  border-width: calc(var(--margin) * 0.05);
  margin: var(--margin) 0;
}

button,
input {
  border-color: var(--color-foreground);
  border-radius: 4px;
  border-style: solid;
  border-width: calc(var(--margin) * 0.05);
  padding: calc(var(--margin) * 0.2) calc(var(--margin) * 0.4);
}

input {
  background-color: var(--color-background);
}

ol, ul {
  font-feature-settings: "case";
  list-style-position: inside;
  /*
  list-style-type: none;
  */
}

strong, b {
  font-weight: bold;
}

/*
a[rel~="external"] {
  white-space: nowrap;
}
*/

a[rel~="external"]::after {
  content: "\2197";
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 900;
  vertical-align: super;
}

img {
  object-fit: cover;
  width: 100%
}

/*
footer {
  background-color: var(--color-background);
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: calc(var(--margin) * 1.4);
  padding: calc(var(--margin) * 1.4) 0;
  position: sticky;
  bottom: 0;
}

footer > :last-child > ul {
  display: grid;
  grid-auto-flow: column;
  grid-gap: calc(var(--margin) * 1.4);
  list-style-type: "\002f\feff";
}

footer > :last-child a:link {
  text-decoration: underline;
  text-decoration-style: dotted;
}
*/

header {
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  grid-row: 1;
  /*
  display: grid;
  grid-template-columns: max-content min-content;
  grid-gap: calc(var(--margin) * 1.4);
  align-content: center;
  justify-content: space-between;
  */
  padding: calc(var(--margin) * 1.4) 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

header a:hover {
  color: var(--color-highlight);
  text-decoration: none;
}

header select {
  background-color: unset;
  border: unset;
  color: var(--color-foreground);
  /*
  grid-column: 2;
  */
}

main {
  /*
  grid-row: 2;
  */
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: calc(var(--margin) * 2.8);
  justify-content: space-between;
}

main > :first-child {
  min-width: 20ch;
}

/*
main > nav {
  grid-column: 1;
}

main > nav + section {
  grid-column: 2;
}
*/

main > section > * + *:not(section.grid) {
  margin-top: calc(var(--margin) * 1.4);
}

main a:link {
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* NOTE: removes small gap below figure ... */
main figure {
  line-height: 0;
}

main figure > figcaption {
  background-color: var(--color-foreground);
  color: var(--color-background);
  line-height: 1.4;
  padding: 0 calc(var(--margin) * 0.2);
  text-align: center;
}

main p {
  max-width: var(--width);
}

main ul {
  list-style-type: "\2013\0020";
}

/*
main ul > li + li {
  margin-top: calc(var(--margin) * 0.35);
}
*/

main .grid.column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: calc(var(--margin) * 1.4);
  height: 100%;
}

main .grid.column > article {
  background-color: var(--color-low-contrast);
  min-height: 10rem;
}

main .grid.column > article > a > :last-child {
  padding: calc(var(--margin) * 0.2) calc(var(--margin) * 0.4);
}

main .grid.column a:link {
  text-decoration: none;
}

main form#search {
  background-color: var(--color-background);
  display: flex;
  gap: calc(var(--margin) * 0.35);
  padding-bottom: calc(var(--margin) * 1.4);
  position: sticky;
  top: 4.2rem;
}

main form#search > input {
  width: 100%;
}

/*
nav > * + * {
  margin-top: calc(var(--margin) * 1.4);
}
*/

nav a:link {
  text-decoration: underline;
  text-decoration-style: dotted;
}

nav ul {
  position: sticky;
  top: 4.2rem;
  list-style-type: "\002f\feff";
}

@keyframes init {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: rgb(255,255,255);
    --color-background: rgb(20,20,20);
    --color-selection: rgb(70,90,155);
    --color-highlight: rgb(128,196,255);
    --color-medium-contrast: rgb(128,128,128);
    --color-low-contrast: rgb(40,40,40);
  }
}

@media (max-width: 768px) {
  main {
    grid-auto-flow: row;
    grid-gap: calc(var(--margin) * 1.4);
    grid-template-columns: unset;
  }
  header {
    position: initial;
  }
  main form#search {
    margin-top: -1.4rem;
    padding-top: calc(var(--margin) * 1.4);
    top: 0;
  }
  /*
  footer {
    align-items: end;
  }
  footer > :last-child > ul {
    display: grid;
    grid-auto-flow: row;
    grid-gap: calc(var(--margin) * 0.7);
  }
  */
}

/* fallback for list-style-type: "<string>"; */
/*
@supports not (list-style-type: "\2013\0020") {
  main ul li::before {
    content: "\2013\0020";
  }
}
*/
