/* medienhaus.css */

@import url("./normalize.css");
@import url("./fonts.css");

:root {
  --color-foreground: rgb(0,0,0);
  --color-background: rgb(255,255,255);
  --color-selection: rgb(255,240,170);
  --color-highlight: rgb(0,128,255);
  --color-medium-contrast: rgb(128,128,128);
  --color-low-contrast: rgb(240,240,240);
  --margin: 1rem;
  --width: 55ch;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: rgb(255,255,255);
    --color-background: rgb(20,20,20);
    --color-selection: rgb(70,90,155);
    --color-highlight: rgb(128,196,255);
    --color-medium-contrast: rgb(128,128,128);
    --color-low-contrast: rgb(40,40,40);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

*::selection {
  background-color: var(--color-selection);
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: "Inter", sans-serif;
  /*
  font-size: 16px;
  */
  font-size: calc(1em + 0.4vmin);
  font-style: normal;
  font-weight: 500;
  height: 100%;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  padding: 0 calc(var(--margin) * 1.4);

  /* init */
  opacity: 0;
  animation: init 0.03s ease-in 0.5s 1 forwards;
}

a:link {
  color: var(--color-foreground);
  /*
  text-decoration: none;
  */
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:visited {
  color: var(--color-foreground);
}

a:hover {
  color: var(--color-foreground);
  text-decoration: underline;
  text-decoration-style: solid !important;
}

a:focus {
  color: var(--color-foreground);
}

a:active {
  color: var(--color-foreground);
}

a.active {
  text-decoration-color: var(--color-highlight) !important;
}

code {
  background-color: var(--color-low-contrast);
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  padding: 0 calc(var(--margin) * 0.2);
}

code, pre, kbd, samp,
code a, pre a, kbd a, samp a {
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  margin: unset;
}

hr {
  border-color: var(--color-foreground);
  border-radius: unset;
  border-style: solid;
  border-width: calc(var(--margin) * 0.05);
  margin: var(--margin) 0;
}

button,
input {
  border-color: var(--color-foreground);
  border-radius: 4px;
  border-style: solid;
  border-width: calc(var(--margin) * 0.05);
  padding: calc(var(--margin) * 0.2) calc(var(--margin) * 0.4);
}

ol, ul {
  font-feature-settings: "case";
  list-style-position: inside;
}

strong, b {
  font-weight: bold;
}

/*
a[rel~="external"] {
  white-space: nowrap;
}
*/

a[rel~="external"]::after {
  content: "\2197";
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 900;
  vertical-align: super;
}

img {
  object-fit: cover;
  width: 100%
}

header {
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  grid-row: 1;
  padding: calc(var(--margin) * 1.4) 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

header a:hover {
  color: var(--color-highlight);
  text-decoration: none;
}

header select {
  background-color: unset;
  border: unset;
  color: var(--color-foreground);
}

main {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: calc(var(--margin) * 2.8);
  justify-content: space-between;

  /* @NOTE: some spacing above viewport bottom */
  padding-bottom: calc(var(--margin) * 2);
}

/*
main a:link {
  text-decoration: underline;
  text-decoration-style: dotted;
}
*/

main article a:link {
  text-decoration: none;
}

main article > * {
  background-color: var(--color-low-contrast);
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) * 0.5);
  padding: calc(var(--margin) * 1);
}

/* NOTE: removes small gap below figure ... */
/*
main article figure {
  line-height: 0;
}
*/

/* @NOTE: makes all images square and cover/fill the space */
main article figure > img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* @NOTE: square placeholder if no image was provided */
main article figure:empty {
  aspect-ratio: 1 / 1;
  background-color: var(--color-medium-contrast);
  /*
  min-height: calc(var(--margin) * 14);
  */
}

main article h2,
main article p {
  min-height: calc(var(--margin) * 4.2);
}

/*
main article#authorHeader + hr {
  align-self: end;
  margin: 0;
}
*/

/* NOTE: removes small gap below figure ... */
main figure {
  line-height: 0;
}

main figure > figcaption {
  background-color: var(--color-foreground);
  color: var(--color-background);
  line-height: 1.4;
  padding: 0 calc(var(--margin) * 0.2);
  text-align: center;
}

/*
main form#search > input {
  width: 100%;
}

main form#search,
main section > h2:first-child {
  background-color: var(--color-background);
  display: flex;
  gap: calc(var(--margin) * 0.35);
  padding-bottom: calc(var(--margin) * 1.4);
  position: sticky;
  top: 4.2rem;
}
*/

/* @NOTE: visually align h3 with form across pages */
main h3 {
  padding-top: calc(var(--margin) * 0.32);
}

main p {
  max-width: var(--width);
  overflow-wrap: break-word;
}

main ul {
  list-style-type: "\2013\0020";
}

nav {
  width: 16ch;
}

/*
nav a:link {
  text-decoration: underline;
  text-decoration-style: dotted;
}
*/

nav ul {
  position: sticky;
  top: 4.2rem;
  list-style-type: "\002f\feff";
}

.grid.column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24ch, 1fr));
  grid-gap: calc(var(--margin) * 1.4);
}

/*
.grid.column a:link {
  text-decoration: none;
}
*/

@keyframes init {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  main {
    grid-auto-flow: row;
    grid-gap: calc(var(--margin) * 1.4);
    grid-template-columns: unset;
  }
  header {
    position: initial;
  }
}
