main #contexts {
  max-height: 100%;
}

main #contexts:not(:empty) + #items {
  margin-top: calc(var(--margin) * 1.4);
}

main #path:not(:empty) {
  background-color: var(--color-background);
  padding-bottom: calc(var(--margin) * 1.4);
  position: sticky;
  top: 4.2rem;
}

main #path > ul {
  max-height: 100%;
}

main #path ul li {
  display: inline;
}

main #path ul li:not(:first-child)::before {
  content: " → ";
}

@media (max-width: 768px) {
  main #path:not(:empty) {
    background-color: var(--color-background);
    margin-top: -1.4rem;
    padding-top: calc(var(--margin) * 1.4);
    padding-bottom: calc(var(--margin) * 1.4);
    position: sticky;
    top: 0;
  }
}
