main h2 {
  background-color: var(--color-background);
  display: flex;
  gap: calc(var(--margin) * 0.35);
  padding-bottom: calc(var(--margin) * 1.4);
  position: sticky;
  top: 4.2rem;
}

@media (max-width: 768px) {
  main h2 {
    margin-top: -1.4rem;
    padding-top: calc(var(--margin) * 1.4);
    top: 0;
  }
}
